.slider-toggle {
  position: absolute;
  bottom: 0.75rem;
  right: 0.75rem;
  z-index: 10;
}

.slider {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  border-radius: 24px;
  background-color: var(--border-color);
  cursor: pointer;
}

.slider input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-circle {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 3px;
  bottom: 3px;
  border-radius: 50%;
  transition: transform 0.3s, background-color 0.3s;
}

/* Movimiento del círculo */
.slider input:checked + .slider-circle {
  transform: translateX(26px);
}

/* Colores del círculo */
.verde {
  background-color: #4caf50;
}

.rojo {
  background-color: #f44336;
}
